* {
    margin: 0px;
    font-family: Azeret Mono;

}

.navbar {
    background-color: white;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 38px;
    padding-bottom: 35px;
}

.navbar-details {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.nav-btn {
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    padding: 17px 24px;
    color: #0D1321;
    background-color: white;
    font-size: 20px;
    font-weight: 600;
}

.first-section {
    text-align: center;
    background-image: url('../assets/Hero-bg.png');
    background-position: center;
    height: 652px;
    padding-top: 26px;
    background-repeat: no-repeat;
}

.first-section-title {
    color: #0D1321;
    font-family: Azeret Mono;
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 32px;
    margin-bottom: 24px;
}

/* common sections */
.common-pera {
    color: #0d1321a8;
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
}

.common-weight {
    max-width: 1140px;
}
.universal-head{
    color: black;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 24px;
}

/* common section ends */
.first_section-btn {
    border-radius: 8px;
    background-color: #0D1321;
    padding: 21px 24px;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 32px;
    margin-bottom: 45px;
}

.second-section {
    border-radius: 16px;
    background: skyblue;
    text-align: center;
    margin: auto;
    margin-top: 74px;
    padding: 80px 97px;
}